<div class="home-container">
  <input type="text" ng-model="search" placeholder="It's dangerous out there">
  <p>Latest Topics</p>
  <div class="home-topics">
    <ul class="home-topics-container">
      <li class="home-topics" ng-repeat="topic in topics | filter:search | orderBy: createdAt | limitTo: 10">
        <a href="/topics/{{ topic.id }}">{{ topic.title }}</a>
        <p>Brought into being by: <a href="/users/{{ topic.user.id }}">{{ topic.user.username }}</a></p>
        <p>{{ topic.createdAt }}</p>
      </li>
    </ul>
  </div>
</div>