<div class="home-container">
  <p>This will be your new home!</p>
  <div class="home-nav">
  <a href="/login">Welcome back friend</a><br>
  <a href="/register">Become one of us</a><br>
  <a href="/users">See all of your friends to be</a><br>
  </div>
  <div class="home-topics">
    - - - - - - - - - - - - - - - - - - - - - - <br>
    <input type="text" ng-model="search" placeholder="It's dangerous out there">
    <ul class="home-topics-container">
      <li class="home-topics" ng-repeat="topic in topics | filter:search | orderBy: createdAt | limitTo: 10">
        <a href="/topics/{{ topic.id }}">{{ topic.title }}</a>
        <p>Brought into being by: {{ topic.user.username }}</p>
        <p>{{ topic.createdAt }}</p>
      </li>
    </ul>
  </div>
</div>